<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户端错误</title>
</head>
<body style="background-image: url('../MyStyle/img/bg2.jpg')">
<text style="color: floralwhite">
    <div style="text-align: center;margin-top: 5%">
        <div><img src="/MyStyle/img/error.png"></div>
        <h1>sattus:[[${status}]]</h1>
        <h1>Timestamp:[[${#dates.format(timestamp,'yyyy-MM-dd HH:mm')}]]</h1>
        <h1>Error:[[${error}]]</h1>
        <h1>message:[[${message}]]</h1>
    </div>
</text>
</body>
</html>